@media (max-width:1200px){
    .left{
        position:absolute;
        left:-100%;
        z-index:1;
        transition: all .3s;
        width:300px;
    }

    .right {
        width:100vw;
        height:100%;
    }
   
   .logo1{
    display:block;
    align-self:center
   }
    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 100px);
    }

    
    .card{
        width: 100%;
    }
    .flexboxplaybar{
       width:100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap:12px;
       flex-direction: column;
       margin-bottom:10px;
       align-items:center;
    }
     .timevolume {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        position: static;
    }

    .timevolume img,
    .timevolume .songTime {
        position: static;
    }

    .cardContainer{
        margin:0;
    }
    .left .close {
        display:block;
        position:absolute;
        top:10px;
        right:8px;
        cursor:pointer;
    }
}