:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color:white;
}

.container{
    display:flex;
}

/* LEFT + RIGHT */
.left {
    width: 25%;
    padding: 10px;
}

.close{
    display:none
}
.right {
    width: 75%;
    padding-top:7px;
    margin-top: 20px;
    padding-left:15px ;
   position:relative;

}

/* HOME */
.home ul li{
    list-style: none;
    width:12px;
    display: flex;
    gap:5px;
    padding-top: 14px;
    font-size: 13px;
    font-weight: 550;
}

/* HEADING */
.heading{
    list-style: none;
    width:100%;
    display: flex;
    gap:5px;
    padding:11px 4px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;       /* FIXED */
}

.heading img{
    width:13px;
}

/* LIBRARY + FOOTER FIXED AT BOTTOM */
.library {
    min-height: 80vh;
    display:flex;
    flex-direction: column;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    padding: 10px 0;
    margin-top: auto;
}

.footer a {
    color: grey;
}

/* HEADER */
.header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(37, 37, 37);
    margin:5px;
    margin-left:0;
    align-items: center;
    border-radius: 10px;
}

.header > *{
    padding:10px;
}

.nav{
    display:flex;
    gap:10px;
    align-items: center;
}
.logo1{
    display:none;
}
/* PLAYLIST */
.spotifyPlaylist h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cardContainer {
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    margin:20px;
     overflow-y: auto;
    max-height: 60vh; 
}

.spotifyPlaylist .card{
    width: 150px;
}

.card{
    background-color: rgb(40, 40, 40);
    padding:10px;
    border-radius: 5px;
    position: relative;
 transition: all .6s;
}
.card h2{
    font-size:15px;
    font-weight: 600;
}
.card p{
    font-size:12px;
    color: rgb(104, 100, 100);
    margin-top: 5px;
}
.card:hover{
    background-color: rgb(58, 58, 58);
    cursor: pointer;
    color:rgb(226, 226, 226);
    --a: 1;
}

.card > *{
    padding-top:3px;
}

.card img{
    width:100%;
    object-fit: contain;
}

.play {
    width: 18px;
    height: 18px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 76px;
    right: 13px;
    opacity: var(--a); 
    transition: all 1s ease-out;
}

.btn-signup{
   
    background-color: #303030;
    color:white;
    border:2px solid #303030;
    font-weight: bold;
    padding:5px;
    border-radius: 15px;
    transition:all 0.3s ease-out;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight:300;
}
.btn-signup:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px solid white;
    cursor: pointer;
    font-size:14px;
    font-weight:300;

}

.btn-login{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px solid white;
    font-size: 12px;
    font-weight: bold;
    padding:5px;
    border-radius: 15px;
    transition:all 0.3s ease-out;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:300;

}
.btn-login:hover{
    background-color: #303030;
    color:white;
    border:2px solid #303030;
    cursor: pointer;
    font-size:14px;
    font-weight:300;
}
.flexboxplaybar{
    display:flex;
    justify-content: space-between;
    margin:5px 0;
    align-items: center;
}


.playbar {
    justify-content: space-between;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;

}

.songbuttons {
    justify-content: center;
    gap: 16px;
    padding-bottom:10px;
}
.songTime, .songInfo{
    font-size: 14px;
    padding: 0 12px;
    filter: invert(1);

}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: none;
    display: flex;
    gap:14px;
    cursor: pointer ;
     padding:7px 2px;
    align-items: center;
    border: rgb(186, 186, 186) 1px solid;
    border-radius: 5px;
    margin:6px 9px ;
    justify-content: space-evenly;
    background-color: rgb(37, 37, 37);
    

}

.songList .info{
font-size: 14px;
}

.timevolume{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    gap:30px;
}

.volume{
    display: flex;
    direction: row;
    align-items: center;
}



.songList{
    max-height: 30vh;
    overflow-y: scroll;
}
   
.seekbar {
    height: 4px;
    width: 96%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle{
    height: 10px;
    width: 10px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    
    left: 0%;
    transition: left 0.5s;}

.songbuttons img{
    cursor: pointer;
}


